* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .menu-container,
  .header-container{
    background-color: #1F2937; 
    padding: 20px 20px;
  }
  .maintext{
    color: #F9FAF8;
    font-weight: extra-bold;
    font-size: 48px;
  }
  .links,
  .secondarytext{
    color: #E5E7EB;
    font-size: 18px;
  }
  .menu-container,
  .menu,
  .logo,
  .links,
  .header-container,
  .header{
    display: flex;
  }
  .logo{
    justify-content: flex-start;
  }
  .menu-container,
  .header-container{
    justify-content: center;
  }
  .menu,
  .header{
    justify-content: space-between;
  }
 
  .links {
    justify-content: flex-end;
  }
  .links,
  .header{
    align-items: center;
  }
  .menu,
  .header{
    width: 800px;
  }
  .two,
  .three{
    margin-left: 20px;
  }

  